extends layout
 
block content
  div.special-contain-extra#space-channel(channel-id=channel_id)
    div.special-contain
      section.left-content-full#channel-messages
          section.special-left-content
             div.content-area-popup-contain
                h2.content-title  #{channel.channelName } 
                div.content-popup-btn.btn-design(data-content-new='#') 
                  h2 +
             ul#channel-msg-list
              each msg in channel.chatData
                li <span class='space-action'> #{ msg.user } </span> #{ msg.msg }
        
      section.right-content-spaced#channel-members
         div.content-area-popup-contain
           h2.content-title members talking
         ul
           each user in channelUsers
             li
               span.space-action +
               | #{ user.user }
         
         section.wc-message-post
           h3 post a message to the channel
           div#channel-message-form
             textarea(rows='6', cols='70', name='message', form='channel-msg') talk to your team members ...
             input#channel-submit-msg-btn.btn-primary(type="submit", value="post message")
